1 VERSIONINFO
FILEVERSION 2, 6, 0, 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileDescription", "The cross platform IA-32 emulator"
   VALUE "FileVersion", "2.6.svn"
   VALUE "LegalCopyright", "GNU Lesser General Public License"
   VALUE "ProductName", "Bochs"
   VALUE "ProductVersion", "Built from SVN snapshot after release 2.6"
  }
 }
}
